<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="2.0">
	<wb-module deploy-name="persistence">
		<wb-resource deploy-path="/" source-path="src/main/java"/>
		<dependent-module deploy-path="../" handle="module:/resource/core/core">
			<dependency-type>uses</dependency-type>
		</dependent-module>
	</wb-module>
</project-modules>
