@import "../valo/valo";

// Main layout padding
$view-padding: round($v-unit-size / 1.5) !default;

// Slight adjustment to menu background-color
$valo-menu-background-color: #414B56;

@mixin scoreboard {
  @include valo;
  
  .valo-menu-title {
      background: transparent;
      @include box-shadow(none);
      border-bottom: none;
      line-height: 1.2;
      padding-top: 20px;
      font-size: 16pt;
  }
}
